.section-container {
  margin-top: 40px;
  padding: 0 80px;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  .leftSlider {
    padding-right: 40px;
  }
  .rightSlider {
    padding-left: 40px;
  }
}

.sectionBody {
  width: 100%;
  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    p {
      font-weight: bold;
      color: #1f3652;
    }
  }
  .sectionItems {
    display: flex;
    justify-content: space-between;
  }
}


